<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Project BlogPOST With Bootstrap - AngularJS | Trương Thanh Hưng WD</title>
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrom=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Blog Chia Sẽ SEO Webdesign">
    <meta name="keywords" content="blog project, blog post, project">
    <meta name="author" content="Truong Thanh Hung">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon-192x192.ico">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="styles/resetStyle.css">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/bower_components/ng-tags-input/ng-tags-input.min.css'>
    <link rel='stylesheet' href='/bower_components/ng-tags-input/ng-tags-input.bootstrap.css'>

    <link rel='stylesheet' href='/bower_components/textAngular/dist/textAngular.css'>
    <link rel="stylesheet" type="text/css" href="styles/style-admin.css">
    <link rel="stylesheet" type="text/css" href="styles/newPost.css">
</head>

<body ng-app="scotchApp" ng-controller="mainController">
    <div class="container style-containerAdmin">
        <div class="row rowAdmin-style">
            <div class="col-md-2 col-sm-1 hidden-xs colAdmin-style valign-top" id="side-menu">
                <h2 class="hidden-sm hidden-xs">Navigation</h2>
                <ul>
                    <li class="link">
                        <a href="admin.html">
                            <span class="fa fa-th" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Bảng tin</span>
                        </a>
                    </li>
                    <!-- ADMIN MEDIA LIBRARY -->
                    <li class="link">
                        <a href="#collapse-media" data-toggle="collapse" aria-controls="collapse-media">
                            <span class="fa fa-dropbox" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Thư viện</span>
                        </a>
                        <ul class="collapse collapseable" id="collapse-media">
                            <li><a href="new-media.html">Thêm tập tin</a></li>
                            <li><a href="all-medi.html">Thư viện</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN POST -->
                    <li class="link">
                        <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
                            <span class="fa fa-list-alt" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Bài viết</span>
                        </a>
                        <ul class="collapse collapseable" id="collapse-post">
                            <li><a href="new-post.html">Bài viết mới</a></li>
                            <li>
                                <a href="all-post.html">Tất cả bài viết
                                    <span class="label label-success pull-right hidden-sm hidden-xs">8001</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN CATEGORIES -->
                    <li class="link  active">
                        <a href="#collapse-categories" data-toggle="collapse" aria-controls="collapse-categories">
                            <span class="fa fa-tags" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Chuyên mục</span>
                        </a>
                        <ul class="collapse collapseable" id="collapse-categories">
                            <li><a href="new-categories.html">Thêm chuyên mục</a></li>
                            <li>
                                <a href="all-categories.html">Chuyên mục
                                    <span class="label label-success pull-right hidden-sm hidden-xs">500</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN COMMENTS -->
                    <li class="link">
                        <a href="#collapse-comments" data-toggle="collapse" aria-controls="collapse-comments">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Bình luận</span>
                        </a>
                        <ul class="collapse collapseable" id="collapse-comments">
                            <li>
                                <a href="approved-comments.html">Đã duyệt qua
                                    <span class="label label-success pull-right hidden-sm hidden-xs">100</span>
                                </a>
                            </li>

                            <li>
                                <a href="unapproved-comments.html">Không duyệt qua
                                    <span class="label label-warning pull-right hidden-sm hidden-xs">10</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN SETTINGS -->
                    <li class="link settings-btn">
                        <a href="admin-setting.html">
                            <span class="fa fa-cog" aria-hidden="true"></span>
                            <span class="hidden-sm hidden-xs">Cài đặt</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End sider menu -->
            <!-- Start Right Contents -->
            <div class=" col-md-10 col-sm-11 colAdmin-style valign-top">
                <div class="row">
                    <header id="nav-header-style" class="clearfix">
                        <div class="col-md-5">
                            <nav class="navbar-default navbar-default-style pull-left">
                                <!-- TAO DAU 3 GACH TREN MOBILE -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <input type="text" class="hidden-sm hidden-xs" id="header-search-field-style" name="search-are" value="" placeholder="Tìm kiếm...">
                        </div>
                        <!-- End of search -->
                        <div class="col-md-7">
                            <ul class="pull-right">
                                <li class="style-welcome hidden-xs">Xin chào bạn đến với trang quản lý !</li>
                                <li class="fixed-width">
                                    <a href="#">
                                        <span class="fa fa-bell style-fa" aria-hidden="true"></span>
                                        <span class="label label-warning">5</span>
                                    </a>
                                </li>
                                <li class="fixed-width">
                                    <a href="#">
                                        <span class="fa fa-envelope style-fa" aria-hidden="true"></span>
                                        <span class="label label-message">9</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa fa-sign-out style-fa single-fa-last" aria-hidden="true">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--End of Login admin -->
                    </header>
                </div>

                <!-- START NEW CATEGORIES -->
                <div class="row">
                    <div class="col-md-4 categories-left">
                        <div class="admin-content-con">
                            <header>
                                <h5>Thêm chuyên mục mới</h5>
                            </header>

                            <form ng-submit="submitCreateCategory()">
                                <div class="form-group">
                                    <label>Tên chuyên mục</label>
                                    <p>
                                        <textarea ng-model="newCategory.name" rows="3" class="form-control" placeholder="thể thao, truyện cười, ngôi sao.v.v."></textarea>
                                    </p>

                                    <label>Phân quyền</label>
                                    <p> Hãy chọn cấp bậc chuyên mục:
                                        <select>
                                            <option></option>
                                            <option>HTML5</option>
                                            <option>CSS3</option>
                                            <option>Bootstrap</option>
                                            <option>JavaScript</option>
                                            <option>jQuery</option>
                                            <option>AngularJS 1</option>
                                        </select>
                                    </p>

                                    <label>Mô tả</label>
                                    <p>
                                        <textarea ng-model="newCategory.description" rows="3" class="form-control" placeholder="Mô tả ngắn dưới 165 ký tự..."></textarea>
                                    </p>
                                    <p>
                                        <button type="submit" class="btn btn-large btn-block btn-primary">Thêm</button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="div col-md-8 categories-right">
                        <header>
                            <h5>Chuyên Mục</h5>
                        </header>

                        <table ng-init="apiGetCat()" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>ID</th>
                                    <th>Ngày tạo</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cat in Categories">
                                    <td>{{cat.name}}</td>
                                    <td>{{cat.desciption}}</td>
                                    <td>{{cat.create_date}}</td>
                                    <td>
                                        <button type="button" class="btn btn-xs btn-warning"><a href="#{{cat._id}}">Sửa</a></button>
                                        <button type="button" class="btn btn-xs btn-danger"><a href="#{{cat._id}}">Xóa</a></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- end of row search and wellcom -->
                <div class="row">
                    <footer id="admin-footer" class="clearnfix">
                        <div class="pull-left"><b>Project Copyright </b>&copy 2017</div>
                        <div class="pull-right">Manager My Admin Truong Thanh Hung</div>
                    </footer>
                </div>
            </div>
            <!-- End of Main content Amin -->
        </div>
    </div>
    </div>
</body>
<!-- Text/JavaScript -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/myadmin.js"></script>


<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>

<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script type="text/javascript" src="library/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script src="/bower_components/ng-tags-input/ng-tags-input.min.js"></script>

<script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular.min.js'></script>

<script type="text/javascript" src="scripts/opaapp.js"></script>

</html>