@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Tahoma:400,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=vietnamese);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,600&subset=vietnamese);
@import url(https://fonts.googleapis.com/css?family=Kurale);
@media (min-width: 768px) {
    .main-menu .collapse-style {
        padding-left: 0px!important;
    }
}

@media (min-width: 992px) {
    .top-bar .media-style {
        text-align: right!important;
    }
}

@media (max-width: 768px) {
    .top-bar .media-style {
        text-align: center!important;
    }
}

@media (min-width: 768px) {
    .style-navbar-form {
        margin-right: 0px!important;
    }
}

@media (max-width: 768px) {
    .media-images {
        width: 384px;
        height: 230ppx;
    }
}

@media (min-width: 992px) {
    .margin-top-post01 {
        margin-top: 0px;
    }
    .padding-top-mini-post02 {
        padding-top: 15px;
    }
    .dec-pots-n01 {
        margin-bottom: 0px;
    }
    .set-padding-content {
        padding: 0px;
    }
    .media-images {
        width: 384px;
        height: 230ppx;
    }
}


/* STYLE HOVER IMG
Cú pháp: 
<a class="hover-images">
    <img class="zhang-hover" />
</a>
*/

.zhang-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-images:hover .zhang-hover {
    opacity: 0.8;
}


/* end of zhang hover images */