@font-face {
    font-family: 'Utimes';
    src: url(../fonts/fonts/Utimes.ttf) format('truetype');
}

@font-face {
    font-family: Tahoma;
    src: url(../fonts/fonts/Tahoma.ttf) format('truetype');
}

body {
    font-family: Tahoma;
    text-align: justify;
}

.Tahoma-font {
    font-family: 'Tahoma';
}

.Utimes-font {
    font-family: 'Utimes';
    font-weight: bold;
}

@media (min-width: 768px) {
    .main-menu .collapse-style {
        padding-left: 0px!important;
    }
}

@media (min-width: 992px) {
    .top-bar .media-style {
        text-align: right!important;
    }
}

@media (max-width: 768px) {
    .top-bar .media-style {
        text-align: center!important;
    }
}

@media (min-width: 768px) {
    .style-navbar-form {
        margin-right: 0px!important;
    }
}

@media (max-width: 768px) {
    .media-images {
        width: 384px;
        height: 230ppx;
    }
}

@media (min-width: 992px) {
    .margin-top-post01 {
        margin-top: 0px;
    }
    .padding-top-mini-post02 {
        padding-top: 15px;
    }
    .dec-pots-n01 {
        margin-bottom: 0px;
    }
    .set-padding-content {
        padding: 0px;
    }
    .media-images {
        width: 384px;
        height: 230ppx;
    }
    .reset-padding-post-webdesign,
    .media-padding-footer {
        padding-left: 0px;
        padding-right: 0px;
    }
    h4 {
        margin-top: 0px;
    }
}


/* STYLE HOVER IMG
Cú pháp: 
<a class="hover-images">
    <img class="zhang-hover" />
</a>
*/

.zhang-hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding-bottom: 10px;
}

.hover-images:hover .zhang-hover {
    opacity: 0.8;
}


/* end of zhang hover images */


/* @MEDIA SOCIAL FOOTER */

@media (min-width:320px) and (max-width:768px) {
    .icon-circle .fa {
        font-size: 15px;
        color: #e84700;
        margin: 0 auto;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #e84700;
        line-height: 40px;
        cursor: pointer;
        -webkit-transition: all ease-in-out 0.35s;
        -moz-transition: all ease-in-out 0.35s;
        -o-transition: all ease-in-out 0.35s;
        -ms-transition: all ease-in-out 0.35s;
        transition: all ease-in-out 0.20s, background-color ease-in-out 0.05s;
    }
    .icon-circle .fa:hover {
        background-color: #e84700;
        color: #fff;
        border: 1px solid #e84711;
        -moz-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -o-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -ms-box-shadow: inset 0px 0px 0px 5px #ffffff;
        -webkit-box-shadow: inset 0px 0px 0px 5px #ffffff;
        box-shadow: inset 0px 0px 0px 5px #ffffff;
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    .icon-circle i:before {
        margin-left: 0px;
        font-size: 20px;
    }
}


/*heading*/

h2,
h3 {
    margin-top: 15px;
    font-weight: 600;
    font-family: 'Utimes';
}


/*MAXIMUM LINE*/

.line-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 23px;
    font-size: 14px;
    font-family: 'Tahoma';
    color: #666;
    /* fallback */
    max-height: 80px;
    /* fallback */
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-1 {
    text-align: right;
}

.text-2 {
    text-align: center;
}

.text-3 {
    text-align: justify;
}


/* Crop display imges css 

.thumb-01 {
    width: 652px;
    height: 400px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.thumb-02 {
    width: 290px;
    height: 200px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.thumb-03 {
    width: 384px;
    height: 360px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.thumb-04 {
    width: 344px;
    height: 200px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.thumb-05 {
    width: 98px;
    height: 90px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
*/