/*--TOP BAR --*/

.sumpage-container {}

.top-bar {
    background-color: #151515;
    padding: 4px;
    font-size: 14px;
}

.top-bar i {
    color: #fff;
}

.top-bar #date-area {
    color: #fff;
    font-weight: 500;
    font-family: "Tahoma";
    letter-spacing: 3px;
}

.top-bar .social-icon a {
    padding: 0px 5px;
    text-decoration: none;
    color: #fff;
    font-family: "Utimes";
    letter-spacing: 1px;
}

.top-bar .social-icon a .fa-facebook:hover {
    color: #2B4C98;
}

.top-bar .social-icon a .fa-twitter:hover {
    color: #00ACED;
}

.top-bar .social-icon a .fa-youtube-play:hover {
    color: red;
}

.top-bar .social-icon a .fa-google-plus:hover {
    color: #E74B37;
}

.top-bar .social-icon .icon-sign-in:hover,
.top-bar .social-icon .icon-user-plus:hover {
    color: #FE9121;
}


/*-- END OF TOP BAR --*/


/*-- LOGO ADS --*/

.logo-ads {
    padding: 15px;
}

.logo-ads .logo-center {
    padding: 15px;
}


/*-- END OF LOGO ADS --*/


/*-- MAIN MENU --*/

.main-menu {
    background-color: #229AD6;
}

.main-menu .navbar-style-menu {
    margin-bottom: 0px;
    border: 0px;
}

.main-menu .navbar-style-menu .navbar-toggle-style {
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 12px 25px 10px 0px;
}

.main-menu .navbar-style-menu .navbar-toggle-style .icon-bar-style {
    background-color: #fff;
}

.main-menu .collapse-style {
    padding-left: 30px;
}

.main-menu .collapse-style .active,
.main-menu .collapse-style .active a:hover {
    background-color: #FE9121;
}

.main-menu .collapse-style a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: "Utimes";
}

.main-menu .collapse-style a:hover {
    color: #f5f5f5;
    background-color: #FE9121;
}

.main-menu .collapse-style a:focus {
    color: #f5f5f5;
    background-color: #FE9121;
}

.main-menu .collapse-style .navbar-nav .dropdown .dropdown-menu {
    background-color: #FE9121;
}

.main-menu .collapse-style .navbar-nav .dropdown .dropdown-menu a {
    padding: 10px 10px 10px 30px;
}

.main-menu .collapse-style .navbar-nav .dropdown .dropdown-menu a:hover {
    background-color: #f5f5f5;
    color: #FE9121;
}

.main-menu .collapse-style .style-navbar-form {
    padding-right: 0px;
}

.style-navbar-form .fa-search:hover {
    color: #fff;
}

.style-navbar-form .fa-search:focus {
    color: #fff;
}

.style-navbar-form .style-navbar-form .style-text-form {
    color: #FE9121;
}

.style-btn-search {
    color: #fff;
    border-color: rgb(250, 250, 250);
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    background-color: #FE9121;
}

.style-logo-mobile {
    padding-left: 15px;
}


/*-- ICON SEARCH --*/


/*-- END OF MAIN MENU --*/


/*-- STAR TIN HOT --*/

.news-hot-area {
    padding-top: 15px;
}

.news-hot-area .style-hot-news-top {
    background-color: red;
    font-weight: 600;
    color: #fff;
    padding: 4px;
    font-family: "Utimes";
    text-align: center;
    letter-spacing: 2px;
}

.news-hot-area .style-hot-news-five {
    padding-left: 0px;
    padding-top: 2px;
}

.news-hot-area .style-hot-news-five a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 15px;
    font-family: "Tahoma";
    font-weight: bold;
}

.news-hot-area .style-hot-news-five a:hover {
    color: red;
}

.news-hot-area .style-hot-news-five i {
    color: #FE9121;
    font-size: 18px;
}

.news-hot-area .style-hot-news-five .post-news-01 {
    color: #2264B0;
}

.news-hot-area .style-hot-news-five .post-news-02 {
    color: #14A2B6;
}

.news-hot-area .style-hot-news-five .post-news-03 {
    color: #29AC46;
}

.news-hot-area .style-hot-news-five .post-news-04 {
    color: #8AC843;
}

.news-hot-area .style-hot-news-five .post-news-05 {
    color: #EDE81A;
}

.nen {
    background-color: green;
}


/*-- AREA FIVE NEWS TOP --*/


/*post 03*/

.news-two-big-images {
    padding-top: 15px;
}

.three-post-area {
    padding-top: 35px;
}

.news-two-big-images a {
    text-decoration: none;
    color: #282425;
}


/*-- HOVER BIG IMG POST --*/

.news-two-big-images {}

.five-news-style .hover-big-images {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-images:hover .hover-big-images {
    opacity: 0.7;
}


/*--end of hover --*/

.news-two-big-images a:hover {
    color: #FE9121;
}


/*---*/


/* STAR STYLE POST */

.news-two-big-images {}

.set-padding-content {}

.five-news-style {}

.dec-post-n01 {}

.title-post-h2 {
    font: 30px/38px 'Utimes';
    color: #292222;
    font-weight: bold;
}

.news-two-big-images {}

.set-padding-content {}

.five-news-style {}

.dec-post-n01 p {
    margin: 0 0 5px;
    font-size: 15px;
    color: #666;
}

.title-post-h4 {
    font: 600 19px/22px 'Utimes';
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 2px solid #eee;
}


/*IMAGES ADS*/

.zhang-hover-eleven {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.zhang-hover-eleven .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #FE9121;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.zhang-hover-eleven img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.zhang-hover-eleven:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.zhang-hover-eleven h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.zhang-hover-eleven a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.zhang-hover-eleven a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.zhang-hover-eleven p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.zhang-hover-eleven:hover p.icon-links a:hover,
.zhang-hover-eleven:hover p.icon-links a:focus {
    color: #fff;
}

.zhang-hover-eleven h2,
.zhang-hover-eleven p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.zhang-hover-eleven p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.zhang-hover-eleven:hover .overlay,
.zhang-hover-eleven:hover h2,
.zhang-hover-eleven:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.zhang-hover-eleven:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.zhang-hover-eleven:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.zhang-hover-eleven:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.zhang-hover-eleven:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


/* END OF IMAGES ADS */


/* FOOTER AREA */

.footer-area {
    background-color: #332C2B;
}


/* SOCIAL FOOTER */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*Panel tabs*/

.panel-tabs {
    position: relative;
    bottom: 30px;
    clear: both;
    padding-top: 6px;
}

.panel-tabs>li {
    float: left;
}

.panel-tabs>li>a {
    margin-right: 0px;
    margin-top: 0px;
    line-height: .85;
    color: #282425;
}

.panel-tabs>li>a:hover {
    color: #ff670f;
}

.panel-tabs>li.active>a,
.panel-tabs>li.active>a:hover,
.panel-tabs>li.active>a:focus {
    color: #282425;
}


/*Style inline webdesign news post */

.container-content-news {
    padding-top: 30px;
}

.content-post-webdesign-area {}

.panel-post-webdesign-area {
    border: none;
    box-shadow: none;
}

.style-panel-title-webdesign,
.panel-title-seo {
    font-size: 24px;
    color: #222222;
}

.style-dropdown-menu-webdesign {
    left: 7px;
    min-width: 100px;
    background-color: #FAFBFC;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}

.container-content-news {}

.content-post-webdesign-area {}

.panel-post-webdesign-area .style-panel-heading {
    color: #000000;
    font-size: 14px;
    background-color: transparent;
    border-color: #229AD6;
}

.panel-primary>.style-panel-color {
    background-color: transparent;
    border-color: #FE9121;
}

.style-panel-color {
    padding: 0px 0px 5px 0px;
    border-bottom: 3px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 14px;
}

.content-post-seo-area,
.padding-top-seo-post-area {
    padding-left: 0px;
    padding-right: 0px;
}

.style-panel-heading {
    padding: 0px 0px 5px 0px;
    border-bottom: 3px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-body-html {
    padding: 0px;
}

.panel-body-html a {
    text-decoration: none;
    color: #282425;
}

.panel-body-html a h2 {
    font-size: 28px;
}

.panel-body-html span {
    color: #C0C0C0;
    font-size: 13px;
}

.panel-body-html p {
    padding-top: 8px;
}

.panel-body-html a:hover {
    color: #FE9121;
}

.style-menu-mobile-webdesign {
    margin: 0px;
    border: none;
    position: absolute;
    right: 15px;
    top: 2px;
}

.navbar-default-style .style-menu-mobile-webdesign:hover {
    background: none;
    color: #000000;
}

.news-small-wedisign {
    padding-bottom: 15px;
}

.news-small-wedisign a {
    text-decoration: none;
    color: #282425;
}

.news-small-wedisign .margin-top-small-post {
    font-size: 19px;
}

.news-small-wedisign a:hover {
    color: #FE9121;
}

.news-small-wedisign span {
    color: #C0C0C0;
    font-size: 13px;
}

.margin-top-small-post {
    margin-top: 0px;
}


/*post seo big 2 */

.padding-top-seo-post-area {
    padding-top: 0px;
}


/*menu seo */

.style-dropdown-seo {
    top: -27px;
}

.style-dropdown-menu-seo {
    background-color: #FCFBFA;
    top: 28%;
    left: -3px;
    min-width: 115px;
    font-size: 13px;
    border-radius: 0px;
    border: 0px;
}

.style-dropdown-seo-area .dropdown .nav>li>a:focus,
.style-dropdown-seo-area .dropdown .nav>li>a:hover {
    background-color: transparent;
    border-color: transparent;
}

.style-dropdown-seo-area>li>a:hover {
    border-color: transparent
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: transparent;
}


/* SIDAR */

.avatar-area {
    text-align: center;
}

.sibar-area .avatar-area img {
    border-radius: 100%;
    width: 150px;
    display: block;
    margin: 0 auto;
}

.style-text-latest-articel-video,
.style-text-latest-articel {
    color: #fff;
    width: 100%;
    background-color: #229AD6;
    padding: 5px;
    text-align: center;
}

.style-text-latest-articel {
    margin-top: 20px;
}


/*video area */

.nopadding {
    padding: 2px !important;
    margin: 0 !important;
    outline: 2px solid #333;
    background: #333;
}


/* ads bootom */

.padding-bottom-ads {
    padding-bottom: 20px;
}

.text-center-ads-bottom {
    margin: 0 auto;
    display: block;
}


/* footer style */

footer {
    background-color: #229AD6;
    min-height: 350px;
    font-family: 'Tahoma', sans-serif;
}

.text-center-logo-bottom {
    margin: 0 auto;
    padding-bottom: 15px;
}

.footerleft {
    margin-top: 20px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 14px !important;
    font-family: 'Tahoma';
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-align: justify;
}

.footerleft p i {
    width: 20px;
    color: #FE9121;
}

.footerleft a {
    text-decoration: none;
    width: 20px;
    color: #fff;
}

.footerleft a:hover {
    color: #FE9121;
}

.paddingtop-bottom {
    margin-top: 20px;
}

.categories-badge {}

.ul-padding-left-reset {
    padding-left: 0px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #151515;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 22px;
}

.categories-badge ul {
    list-style-type: none;
}

.categories-badge ul i {
    color: #ff670f;
}

.categories-badge ul li {
    padding-bottom: 5px;
}

.categories-badge ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}

.categories-badge ul li a:hover {
    color: #FE9121;
}

.categories-badge ul li span {
    background-color: #ff670f;
}

.categories-badge ul li span:hover {
    color: #332C2B;
}

.paddingmap-bottom {
    margin-top: 20px;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}


/* LOGIN */


/*********************************************************
	LOG IN PAGE
*********************************************************/

#login {
    background: url('../images/bg-body.jpg')no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

#login .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.box-login {
    background-color: #fff;
    width: 380px;
    padding: 20px;
    margin: 137px auto;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.box-login h3 {
    font-weight: 600;
}

.box-login .form-control {
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
    box-shadow: none;
}

.box-login .form-control:focus {
    border: 2px solid #f1c40f;
}

.box-login-alt {
    background-color: #fff;
    width: 380px;
    padding: 20px;
    margin: 40px auto 60px;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.box-login-alt h3 {
    font-weight: 600;
}

.box-login-alt .form-control {
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
    box-shadow: none;
}

.box-login-alt .form-control:focus {
    border: 2px solid #f1c40f;
}


/*Register */


/*	REGISTER
===============================*/

#register {
    background: url('../images/bg-body.jpg')no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

#register .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.box-register {
    background-color: #fff;
    width: 420px;
    padding: 20px;
    margin: 45px auto;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

.box-register h3 {
    font-weight: 600;
}

.box-register .form-control {
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
    box-shadow: none;
}

.box-register .form-control:focus {
    border: 2px solid #f1c40f;
}