<!-- NEWS HOT -->
<div class="news-hot-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 style-hot-news-top">
                <span>TIN MỚI</span>
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 style-hot-news-five">
                <marquee>
                    <a href="#textpost/{{x._id}}" ng-repeat="x in allNewArticles.slice(0,4)">{{x.title}} >> </a>
                </marquee>
            </div>
        </div>
        <!-- END OF NEWS HOT -->
    </div>
</div>
<!-- FIVE NEWS HOT BIG IMAGES -->
<div class="news-two-big-images clearfix">
    <div class="container set-padding-content">
        <div ng-repeat="post in popularArticlesOne" class="row five-news-style">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <a href="#textpost/{{post._id}}" class="hover-images">
                    <img ng-src="{{post.media}}" class="portrait thumb-top-center-crop img-responsive">
                </a>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="dec-post-n01">
                            <a href="#textpost/{{post._id}}">
                                <h2 class="title-post-h2 margin-top-post01 text-3 Utimes-font">{{post.title}}</h2>
                            </a>
                            <p ng-bind-html="post.description" class="line-desc text-3 Tahoma-font"></p>
                        </div>
                        <hr/>
                    </div>


                    <!-- Hai Post Mini <-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div ng-repeat="post in randomArticles" class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="post-n02">
                                    <a href="#textpost/{{post._id}}" class="hover-images">
                                        <img class="img-responsive media-images zhang-hover thumb-02 thumb-right-center-crop" ng-src="{{post.media}}" alt="tilte-post-01">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="#textpost/{{post._id}}">
                                    <h4 class="title-post-h4 text-3 Utimes-font">{{post.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- END OF FIVE NEWS HOT BIG IMAGES -->

<!-- START THOI SU NEWS -->
<div class="container-content-news">
    <div class="container reset-padding-post-webdesign">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 content-post-webdesign-area">
                <div class="panel panel-primary panel-post-webdesign-area">
                    <div class="panel-heading style-panel-heading">
                        <h3 class="panel-title style-panel-title-webdesign">THỜI SỰ</h3>
                    </div>
                    <div class="panel-body panel-body-html">
                        <div class="tab-content">
                            <!-- TAB THOI SU DEFAULT -->
                            <div class="tab-pane active" id="webdesign-default">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-post-webdesign">
                                        <div class="row">
                                            <div ng-repeat="x in articlesInCat2.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 main-post-html">
                                                <a href="#textpost/{{x._id}}" class="hover-images">
                                                    <img ng-src="{{x.media}}" class="img-responsive zhang-hover thumb-04 thumb-center-crop">
                                                    <h2>{{x.title}}</h2>
                                                </a>
                                                <span>{{x._author.name}}, {{x.updatedDate}}</span>
                                                <p ng-bind-html="x.description" class="line-desc"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <ul uib-pagination total-items="totalItemsCategory2" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" force-ellipses="true"></ul> -->
                </div>

                <div class="panel panel-primary panel-post-webdesign-area">
                    <div class="panel-heading style-panel-heading">
                        <h3 class="panel-title style-panel-title-webdesign">THỂ THAO</h3>
                    </div>
                    <div class="panel-body panel-body-html">
                        <div class="tab-content">
                            <!-- TAB THOI SU DEFAULT -->
                            <div class="tab-pane active" id="webdesign-default">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-post-webdesign">
                                        <div class="row">
                                            <div ng-repeat="x in articlesInCat3.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 main-post-html">
                                                <a href="#textpost/{{x._id}}" class="hover-images">
                                                    <img ng-src="{{x.media}}" class="img-responsive zhang-hover thumb-04 thumb-center-crop">
                                                    <h2>{{x.title}}</h2>
                                                </a>
                                                <span>{{x._author.name}}, {{x.updatedDate}}</span>
                                                <p ng-bind-html="x.description" class="line-desc"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <ul uib-pagination total-items="totalItemsCategory3" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" force-ellipses="true"></ul> -->
                </div>
            </div>

            <!-- SIDEBAR-AREA -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 sibar-area clearfix ">
                <div class="avatar-area hover-images ">
                    <img class="img-responsive style-avatar zhang-hover " src="images/avatar.jpg " alt="avatar-truong-thanh-hung " title="Trương Thanh Hưng Blog Project ">
                    <h3>Trương Thanh Hưng Blog</h3>
                    <p><strong>Blog Project</strong> chuyên chia sẻ những kiến thức về thiết kế website (Webdisign) và kiến thức SEO. Blog được thiết kế bởi <strong>Newbie Trương Thanh Hưng</strong> với nền tản Bootstrap, HTML, CSS, AngularJS... Chúc bạn
                        lướt web vui vẻ ! </p>
                </div>

                <div class="fb-page " data-href="https://www.facebook.com/karateseo/ " data-small-header="false " data-adapt-container-width="true " data-hide-cover="false " data-show-facepile="true ">
                    <blockquote cite="https://www.facebook.com/karateseo/ " class="fb-xfbml-parse-ignore "><a href="https://www.facebook.com/karateseo/ ">SEO Chanel</a></blockquote>
                </div>
                <h4 class="style-text-latest-articel-video ">Video SEO Free</h4>
                <iframe width="560 " height="515 " class="img-responsive " src="https://www.youtube.com/embed/videoseries?list=PLNCySEbPac1XNTIrBR-DsjVYj6vSNK0LV " frameborder="0 " allowfullscreen></iframe>
                <h4 class="style-text-latest-articel ">Bài viết mới nhất</h4>
                <div class="latest-articel-area ">
                    <div class="row ">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                            <div ng-repeat="post in popularArticles " class="row news-small-wedisign ">

                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                                    <a href="#textpost/{{post._id}} ">
                                        <img class="img-responsive thumb-05 " ng-src="{{post.media}} " alt=" ">
                                    </a>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                                    <a href="#textpost/{{post._id}} ">
                                        <h3 class="margin-top-small-post ">{{post.title}}</h3>
                                    </a>
                                    <span>Ngày đăng: {{post.createdDate | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row padding-bottom-ads ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-style ">
            <a href="#textpost/{{post._id}} "><img src="images/banner-ads.gif " alt="ads-qc " class="box-shadow-ads img-responsive text-center-ads-bottom "></a>
        </div>
    </div>
</div>