<div id="login">
    <div class="overlay">
        <div class="container">
            <div class="box-login">
                <form ng-submit="login()">
                    <div class="text-center">
                        <h3>Đăng Nhập Vào Tài Khoản</h3>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input ng-model="loginUser.email" id="username" type="email" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input ng-model="loginUser.password" id="password" type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
						      	<input ng-model="loginUser.checkbox" id="checkbox" type="checkbox"> Tự động đăng nhập lần sau
						    </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning btn-block" type="submit">ĐĂNG NHẬP</button>
                    </div>
                    <hr>
                    <h4>Tôi đã quên mật khẩu ?</h4>
                    <p>Vui lòng <a href="#">click vào đây</a> để làm mới password của bạn.</p>
                </form>
            </div>
        </div>
    </div>
</div>